-e .
beautifulsoup4
datasette
datasette-publish-fly
datasette-render-markdown
html5lib
ipdb
isort
jupyter
lxml
mypy
nb_black
numpy
pandas
pre-commit
puzpy
pytest
pytest-mock
requests
sqlite-utils
tqdm
xword-dl
